#about {
    min-height: calc(100vh - 911px);
    display: flex;
    justify-content: center;
}

#about_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
}

.text-principal {
    text-align: left;
}

.section-title {
    margin-bottom: 20px;
}

.about-image {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.section-subtitle {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 16px;
}

.text-principal p {
    margin-bottom: 16px;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
}

.location {
    margin: 24px 0;
    font-size: 1rem;
}

.location h2 {
    color: #EA3E49;
    margin-bottom: 8px;
}

.location .maps-button a {
    text-decoration: none; 
    display: flex; 
    align-items: center; 
  }
  
  .location .maps-button i {
    margin-right: 10px;
    color: #1d1d1d;
  }
  
  .location .maps-button p {
    margin: 0; 
  }

@media screen and (max-width: 1170px) {
    #about_content {
        flex-direction: column;
        text-align: center;
    }

    .text-principal {
        text-align: center;
    }

    .about-image {
        display: none;
    }
}
